@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", "Fira Code", monospace;
}

:root {
  --bg0: #1d2021;
  --bg1: #282828;
  --bg2: #32302f;
  --fg0: #fbf1c7;
  --fg1: #ebdbb2;
  --fg4: #a89984;
  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --orange: #fe8019;
}

body {
  background-color: var(--bg0);
  color: var(--fg1);
  font-family: var(--font-mono);
}

.kbd {
  @apply bg-zinc-800 text-zinc-300 px-1.5 py-0.5 rounded border border-zinc-700 text-xs font-mono;
}
